<% @tweets.each do |tweet| %>
  <div class="well">
    <div class="media">
      <a class="media-left crop-image2" href="#">
        <% if tweet.user != nil %>
          <%= image_tag tweet.user.avatar.url(:thumb) %>
        <% end %>
        <%#= tweet.id %>
      </a>
      <div class="media-body">
        <h2 class="media-heading"><%= tweet.message %></h2>

        <p>by <%= link_to tweet.user.username, user_profile_path(user_id: tweet.user.id) %></p>
      </div>
    </div> 
    <p class="wooftime">Woof'd <%= time_ago_in_words(tweet.updated_at) %> ago</p>
  </div>
<% end %>

<%= will_paginate @tweets %>

