<!DOCTYPE html>
<html>
<head>
  <title>Woof!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap links: -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <%= favicon_link_tag 'favicon.ico' %>
	
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Alice' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Playfair+Display:900' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "logo_woof.png", width: "120px" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= render 'layouts/authenticatednav' %>
        <% end %>
      </ul>
       <% if user_signed_in? %>
        <div class="navbar-right">
            <span class="navbar-text">Butt sniffs, <strong><%= current_user.username %></strong>! | <%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>
          </div>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

  <% if notice != nil && user_signed_in? %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
  <% end %>

 <!-- Authenticated view -->
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-3">
         <%= render 'layouts/profile' %>
      </div>
      <div class="col-md-7">
        <%= yield %>
      </div>
      <div class="col-md-2">
        <%= render 'layouts/userstofollow' %>
      </div>
    </div> <!-- end row -->
  <% else %>
    <!-- Unauthenticated view -->
    <div class="col-md-3 col-md-offset-2">
      <% flash.each do |name, msg| %> 
        <div class="alert alert-danger alert-dismissible">
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-md-3">
      <%= image_tag "dog_keyboard.png", width: "480px" %>
    </div>
  <% end %>
</div>

</body>
</html>
